<!DOCTYPE html>
<html>
<head>
<title>treeManage</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0"
	charset="UTF-8">
<script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://cdn.staticfile.org/vue-resource/1.5.1/vue-resource.min.js"></script>
<link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>
    <div id="app">
	<div class="container">
        <div class="row clearfix">
	<div class="col-md-12 column">
		<nav class="navbar navbar-default" tree="navigation">
			<div class="navbar-header">
				 <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					 <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span>
					 <span class="icon-bar"></span>
					 <span class="icon-bar"></span>
				 </button>
				 <a class="navbar-brand" href="#">首页</a>
			</div>
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<form class="navbar-form navbar-left" tree="search">
					<div class="form-group">
						<input type="text" class="form-control" placeholder="序号" v-model="tree.tid"/>
					</div>
                    <div class="form-group">
                    	<input type="text" class="form-control" placeholder="角色" v-model="tree.name"/>
                    </div>
                    <button type="button" class="btn btn-default" @click="show()">查找</button>
				</form>
				<ul class="nav navbar-nav navbar-right">
					<li>
						 <a href="#">导出报表</a>
					</li>
					<li class="dropdown">
						 <a href="#" class="dropdown-toggle" data-toggle="dropdown">图表统计<strong class="caret"></strong></a>
						<ul class="dropdown-menu">
							<li>
								 <a href="#">垃圾站点状态</a>
							</li>
							<li>
								 <a href="#">Another action</a>
							</li>
							<li class="divider">
							</li>
							<li>
								 <a href="#">Separated link</a>
							</li>
							<li class="divider">
							</li>
							<li>
								 <a href="#">One more separated link</a>
							</li>
						</ul>
					</li>
				</ul>
			</div>
			
		</nav>
	</div>
</div>


		<div class="row clearfix">
			<div class="col-md-12 column">
				<div class="row clearfix">
					 &nbsp;&nbsp;&nbsp;&nbsp;<button type="button" class="btn btn-sm btn-default" @click="save()">添加角色</button>
					<button type="button" class="btn btn-sm btn-primary" @click="del()">批量删除</button>
					<button type="button" class="btn btn-sm btn-default" @click="all1()">全选/全不选</button>
					<button type="button" class="btn btn-sm btn-default" @click="inverse()">反选</button>
				</div>
				<div class="row clearfix">
					<div class="col-md-12 column">
						<table class="table table-hover">
							<caption>角色</caption>
							<thead>
								<tr>
                                    <th>   </th>
									<th>序号</th>
									<th>角色</th>
									<th>描述</th>
									<th colspan="2">操作</th>
								</tr>
							</thead>
							<tbody id="databody">
                                <tr v-for="l in list">
                                    <td>
                                            <input type="checkbox" aria-label="选中" :value="l.tid" @click="check()">
                                    </td>
                                    <td>{{l.tid}}</td>
                                    <td>{{l.name}}</td>
                                    <td>{{l.file}}</td>
                                    <td>
                                        <button class="btn btn-default">
                                            <span class="glyphicon glyphicon-pencil" style="color: rgb(30, 107, 195);font-size: 15px;" @click="edit(l.tid,l.name,l.des)"> 编辑</span>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
        <!-- 按钮触发模态框 -->
           
            <!-- 模态框（Modal） -->
            <div class="modal fade" id="myModal" tabindex="-1" tree="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                &times;
                            </button>
                            <h4 class="modal-title" id="myModalLabel">
                                修改角色信息
                            </h4>
                        </div>
                        <div class="modal-body">
                            <form>
                                
                              <div class="form-group">
                                <label for="name">角色名</label>
                                <input type="text" class="form-control" id="name" placeholder="角色名" v-model="name">
                              </div>
                              <div class="form-group">
                                <label for="file">角色描述</label>
                                <input type="text" class="form-control" id="file" placeholder="角色描述" v-model="file">
                              </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                            </button>
                            <button type="button" class="btn btn-primary" id="sub" @click="action()">
                                
                            </button>
                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal -->
            </div>
                <nav aria-label="Page navigation">
                  <ul class="pager">
                     <li><a href="#" @click="first();return false;">首页</a></li>
                     <li>
                        <a href="#" @click="privious();return false;">&laquo;</a>
                    </li>
                    <li>
                        <select @change="bound($event.target.selectedIndex)">
                            <template v-for= "i in pagecount">
                            <option value ="i">{{i}}</option>
                            </template> 
                        </select>
                        {{pageNow}}
                    </li>
                    <li>
                        <a href="#" @click="next();return false;">&raquo;</a>
                    </li>
                    <li><a href="#" @click="end();return false;">尾页</a></li>
                    共{{pagecount}}页
                  </ul>
                </nav>
	</div>
    
    </div>
</body>
<script>
    Vue.http.options.emulateJSON=true;
    var flag=true;
    var vm=new Vue({
        el:'#app',
        data:{
            list:'',
            page:'',
            checked:'',
            name:'',
            file:'',
            tid:'',
            pageNow:1,
            pagecount:0,
            tree:''
        },
        mounted:function(){
            this.show();//需要触发的函数
		},
        methods:{
            show:function(){
                flag=false;
                this.all1();
                this.$http.get('../trees',{params:{pageNow:this.pageNow,tid:this.tree.tid,name:this.tree.name}}).then(function(res){
                    this.list=res.body.list;
                    this.pagecount=res.body.page.pagecount;
                    this.tree=res.body.tree
                    console.info(this.pageNow);
                },function(res){
                    console.log(res.status);
                });
            },
            check:function(){
                this.checked='1';
               $("input[type='checkbox']").each(function(){
                   var kids=$(this).val();
                   if($(this).prop("checked")){
                       vm.checked=vm.checked+","+kids;
                   }
               });
            },
            all1:function(){
                $("input[type=checkbox]").each(function(){
                    if(flag){
                        $(this).prop("checked",true)
                    }else{
                         $(this).prop("checked",false)
                    }
                });
                if(flag){
                    flag=false;
                }else{
                    flag=true;
                };
            },
            inverse:function(){
                 $("input[type=checkbox]").each(function(){
                     if($(this).prop("checked")){
                         $(this).prop("checked",false);
                     }else{
                          $(this).prop("checked",true);
                     }
                 });
            },
            del:function(){
                $.ajax
                this.check();
                this.$http.delete('../trees',{
                    params:{checked:this.checked},
                    }).then(function(res){
                        vm.show();
                },function(res){
                    console.log(res.status);
                });
                this.show();
            },
            edit:function(tid,name,file){
                    this.tid=tid;
                    this.name=name;
                    this.file=file;
                    $("#sub").html("修改");
                    $("#myModal").modal('show');  //手动开启
            },
            save:function(){
                this.name='';
                this.file='';
                $("#sub").html("保存");
                $("#myModal").modal('show');  //手动开启
            },
            action:function(str){
                if(this.name!=''&&this.file!=''){
                    if( $("#sub").html()=="保存"){
                        this.$http.post('../trees',{name:this.name,des:this.file}).then(function(res){
                            this.list=res.body;
                            console.info(this.list);
                        },function(res){
                            console.log(res.status);
                        });
                        this.show();
                    }else{
                         this.$http.put('../trees',{tid:this.tid,name:this.name,des:this.file}).then(function(res){
                            this.list=res.body;
                            console.info(this.list);
                        },function(res){
                            console.log(res.status);
                        });
                        this.show();
                    }
                }
                this.show();
                 $("#myModal").modal('hide');  //手动开启
            },
            bound:function(index){
                this.pageNow=index-0+1;
                this.show();
            },
            first:function(){
                this.pageNow=1;
                this.show();
            },
            end:function(){
                this.pageNow=this.pagecount;
                this.show();
            },
            privious:function(){
                if(this.pageNow==1){
                    this.show();
                }else{
                    this.pageNow=this.pageNow-1;
                    this.show();
                }
            },
            next:function(){
                if(this.pageNow==this.pagecount){
                    this.show();
                }else{
                    this.pageNow=this.pageNow+1;
                    this.show();
                }
            }
        }
        
    });
</script>
</html>